<!-- helpers do
  def gh_projects_hash
    repos = HTTParty.get('https://api.github.com/users/therufs/repos').body
    repo_hash = {}
    repos.each do |repo|
      repo_hash.repo.name = repo.url
    end
  end
end -->

<h1>Projects!</h1>
<ul>
  <li>Coming soon.</li>
  <% gh_projects_hash.each do |p| %>
    <%= link_to gh_projects_hash, 'github.com' %>
  <% end %>
</ul>
